<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title></title>
  </head>
  <body>
  <div class="container my-5 mx-5" align = "center">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3 shadow">
          <h2>Competitive Programming</h2>
          <p>Competitive programming is a mind sport usually held over the Internet or a local network, involving participants trying to program according to provided specifications. Contestants are referred to as sport programmers. Competitive programming is recognized and supported by several multinational software and Internet companies, such as Google[1][2] and Facebook.[3] There are several organizations who host programming competitions on a regular basis</p>
          <button class="btn btn-outline-light btn2 shadow" type="button"><a href="/">Back to Home</a></button>
        </div>
      </div>
  </div>
  </body>
</html>
