<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title></title>
  </head>
  <body>
  <div class="container my-5 mx-5" align = "center">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3 shadow">
          <h2>Web Development</h2>
          <p>Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network).[1] Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development.</p>
          <button class="btn btn-outline-light btn2 shadow" type="button"><a href="/">Back to Home</a></button>
        </div>
      </div>
  </div>
  </body>
</html>
